#container {
  box-sizing: border-box;
  background-color: #989898;
  margin: 1rem;
  padding: 2rem;
}
#item {
  box-sizing: border-box;
  list-style: none;
  background-color:		#F5F5F5;
  border: 0.15rem solid #CA2D0B;
  margin-top: 1rem;
  padding: 0 10px 10px 10px;
}
