#tag{
  display: flex;
   position: relative;
   height: 100%;
   align-items: center;
}

#image {
border: 0.5rem;
position: absolute;
border-style: solid;
border-color: #DC2020;
margin: 1rem;
border-radius: 50%;
box-shadow: 0.1rem 0.3rem 1rem #3E3E3E;
width: 10rem;
}

#title {

    color:#B22222;
    font-size: 2rem;
    padding-left: 1rem;
}

#shortText{
  font-size: 0.7rem;
  padding-left: 1rem;
}

#time {
    font-weight: bold;
    font-size: 0.7rem;
    padding-left: 1rem;
}
